.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.loader {
  position: absolute;
  top: calc(50% - 8em);
  left: calc(50% - 10em);
  width: 6em;
  height: 6em;
}

.loader--hide {
  opacity: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  width: 100%;
}

.card {
  margin: 20px;
}

.rating {
  padding-top: 10px;
}

.star-ratings {
  padding-bottom: 10px;
}

.nav-item {
  padding-right: 10px;
}

.brand {
  padding-right: 15px;
}

header {
  font-weight: bold;
}

.review-summary {
  margin-top: 10px;
}
